.QuestionPage_container{
    padding: 30px 20px;
}
.QuestionMeta{
    display: grid;
  grid-template-columns: 1fr 1fr;
}
.QuestionTitle{
border-bottom: 1px solid rgba(255,255,255,.1);
  padding-bottom: 10px;
}
.QuestionPage_postbody{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
    margin-bottom: 20px;
    
}
.qnpagebtn{
  background-color: blue;
  height: 40px;
  border-radius: 5px;
  width: 120px;
  cursor: pointer;
  color: white;
}
.qnpagebtn:hover{
  color: black;
}